In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

import lightgbm as lgb

%matplotlib inline

C:\Users\USER\Anaconda3\lib\site-packages\distributed\config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

In [2]:
#mandf_2020 = pd.read_csv('2020/2020_manhattan.csv',header=None)

In [3]:
#mandf_2020.head()

In [4]:
#2020
manhattan2020 = pd.read_csv('2020/2020_manhattan.csv')
brooklyn2020 = pd.read_csv('2020/2020_brooklyn.csv')
bronx2020 = pd.read_csv('2020/2020_bronx.csv')
queens2020 = pd.read_csv('2020/2020_queens.csv')
staten_island2020 = pd.read_csv('2020/2020_staten_island.csv')

In [5]:
#2019
manhattan2019 = pd.read_csv('2019/2019_manhattan.csv')
brooklyn2019 = pd.read_csv('2019/2019_brooklyn.csv')
bronx2019 = pd.read_csv('2019/2019_bronx.csv')
queens2019 = pd.read_csv('2019/2019_queens.csv')
staten_island2019 = pd.read_csv('2019/2019_statenisland.csv')

In [6]:
#2018
manhattan2018 = pd.read_csv('2018/2018_manhattan.csv')
brooklyn2018 = pd.read_csv('2018/2018_brooklyn.csv')
bronx2018 = pd.read_csv('2018/2018_bronx.csv')
queens2018 = pd.read_csv('2018/2018_queens.csv')
staten_island2018 = pd.read_csv('2018/2018_statenisland.csv')

In [7]:
#2017
manhattan2017 = pd.read_csv('2017/2017_manhattan.csv')
brooklyn2017 = pd.read_csv('2017/2017_brooklyn.csv')
bronx2017 = pd.read_csv('2017/2017_bronx.csv')
queens2017 = pd.read_csv('2017/2017_queens.csv')
staten_island2017 = pd.read_csv('2017/2017_statenisland.csv')

In [8]:
#2016
manhattan2016 = pd.read_csv('2016/2016_manhattan.csv')
brooklyn2016 = pd.read_csv('2016/2016_brooklyn.csv')
bronx2016 = pd.read_csv('2016/2016_bronx.csv')
queens2016 = pd.read_csv('2016/2016_queens.csv')
staten_island2016 = pd.read_csv('2016/2016_statenisland.csv')

In [9]:
data_frames2016 = [manhattan2016,brooklyn2016,bronx2016,queens2016,staten_island2016]
data_frames2017 = [manhattan2017,brooklyn2017,bronx2017,queens2017,staten_island2017]
data_frames2018 = [manhattan2018,brooklyn2018,bronx2018,queens2018,staten_island2018]
data_frames2019 = [manhattan2019,brooklyn2019,bronx2019,queens2019,staten_island2019]
data_frames2020 = [manhattan2020,brooklyn2020,bronx2020,queens2020,staten_island2020]

In [10]:
df_merged2016 = pd.concat(data_frames2016,ignore_index=True)

In [11]:
df_merged2016.to_csv('df_merged.csv')

In [12]:
df_merged2017 = pd.concat(data_frames2017,ignore_index=True)

In [13]:
df_merged2018 = pd.concat(data_frames2018,ignore_index=True)

In [14]:
df_merged2019 = pd.concat(data_frames2019,ignore_index=True)

In [15]:
df_merged2020 = pd.concat(data_frames2020,ignore_index=True)

In [16]:
data_frames = [df_merged2016, df_merged2017, df_merged2018, df_merged2019, df_merged2020]

In [17]:
#df_merged2016.columns

In [18]:
#df_merged2017.columns

In [19]:
df_merged2017.rename(columns={'TAX CLASS AS OF FINAL ROLL 17/18':'TAX CLASS AT PRESENT'}, inplace=True)

In [20]:
df_merged2017.rename(columns={'BUILDING CLASS AS OF FINAL ROLL 17/18':'BUILDING CLASS AT PRESENT'}, inplace=True)

In [21]:
#df_merged2017 = df_merged2017.columns['BOROUGH','NEIGHBORHOOD','BUILDING CLASS CATEGORY','TAX CLASS AT PRESENT','BLOCK','LOT','EASE-MENT','BUILDING CLASS AT PRESENT','ADDRESS','APARTMENT NUMBER','ZIP CODE','RESIDENTIAL UNITS','COMMERCIAL UNITS','TOTAL UNITS','LAND SQUARE FEET','GROSS SQUARE FEET','YEAR BUILT','TAX CLASS AT TIME OF SALE','BUILDING CLASS AT TIME OF SALE','SALE PRICE','SALE DATE']

In [22]:
#df_merged2017.head()

In [23]:
df_merged2017.columns = df_merged2016.columns

In [24]:
df_merged2017.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AT PRESENT\n', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AT PRESENT\n', 'ADDRESS\n', 'APARTMENT NUMBER\n',
       'ZIP CODE\n', 'RESIDENTIAL UNITS\n', 'COMMERCIAL UNITS\n',
       'TOTAL UNITS\n', 'LAND SQUARE FEET\n', 'GROSS SQUARE FEET\n',
       'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE\n', 'SALE DATE\n'],
      dtype='object')

In [25]:
df_merged2018.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AS OF FINAL ROLL 18/19', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AS OF FINAL ROLL 18/19', 'ADDRESS\n',
       'APARTMENT NUMBER\n', 'ZIP CODE\n', 'RESIDENTIAL UNITS\n',
       'COMMERCIAL UNITS\n', 'TOTAL UNITS\n', 'LAND SQUARE FEET\n',
       'GROSS SQUARE FEET\n', 'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE\n', 'SALE DATE\n'],
      dtype='object')

In [26]:
df_merged2018.rename(columns={'TAX CLASS AS OF FINAL ROLL 18/19':'TAX CLASS AT PRESENT'}, inplace=True)
df_merged2018.rename(columns={'BUILDING CLASS AS OF FINAL ROLL 18/19':'BUILDING CLASS AT PRESENT'}, inplace=True)

In [27]:
df_merged2018.columns = df_merged2017.columns

In [28]:
df_merged2019.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AS OF FINAL ROLL 18/19', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AS OF FINAL ROLL 18/19', 'ADDRESS\n',
       'APARTMENT NUMBER\n', 'ZIP CODE\n', 'RESIDENTIAL UNITS\n',
       'COMMERCIAL UNITS\n', 'TOTAL UNITS\n', 'LAND SQUARE FEET\n',
       'GROSS SQUARE FEET\n', 'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE\n', 'SALE DATE\n'],
      dtype='object')

In [29]:
df_merged2019.rename(columns={'TAX CLASS AS OF FINAL ROLL 18/19':'TAX CLASS AT PRESENT'}, inplace=True)
df_merged2019.rename(columns={'BUILDING CLASS AS OF FINAL ROLL 18/19':'BUILDING CLASS AT PRESENT'}, inplace=True)

In [30]:
df_merged2019.columns = df_merged2018.columns

In [31]:
df_merged2020.columns = df_merged2019.columns

In [32]:
data_frames =[df_merged2016, df_merged2017, df_merged2018, df_merged2019, df_merged2020]

df_merged17 = pd.concat(data_frames,ignore_index=True)

In [33]:
df_merged17.count()

BOROUGH\n                           414852
NEIGHBORHOOD\n                      414852
BUILDING CLASS CATEGORY\n           414852
TAX CLASS AT PRESENT\n              414568
BLOCK\n                             414852
LOT\n                               414852
EASE-MENT\n                         178466
BUILDING CLASS AT PRESENT\n         414568
ADDRESS\n                           414852
APARTMENT NUMBER\n                  230293
ZIP CODE\n                          414825
RESIDENTIAL UNITS\n                 384751
COMMERCIAL UNITS\n                  384751
TOTAL UNITS\n                       384751
LAND SQUARE FEET\n                  384750
GROSS SQUARE FEET\n                 384751
YEAR BUILT\n                        403978
TAX CLASS AT TIME OF SALE\n         414852
BUILDING CLASS AT TIME OF SALE\n    414852
SALE PRICE\n                        414852
SALE DATE\n                         414852
dtype: int64

In [34]:
df_merged17.to_csv('df_merge17.csv')

In [35]:
df_merged17.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AT PRESENT\n', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AT PRESENT\n', 'ADDRESS\n', 'APARTMENT NUMBER\n',
       'ZIP CODE\n', 'RESIDENTIAL UNITS\n', 'COMMERCIAL UNITS\n',
       'TOTAL UNITS\n', 'LAND SQUARE FEET\n', 'GROSS SQUARE FEET\n',
       'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE\n', 'SALE DATE\n'],
      dtype='object')

In [36]:
df_merged17.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1.0,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,376.0,24.0,,C0,264 EAST 7TH STREET,,...,3,-,3,"2,059","3,696",1900.0,1.0,C0,"7,738,700",12/22/2016
1,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,385.0,2.0,,C7,21 AVENUE B,,...,12,4,16,"4,186","10,588",1900.0,2.0,C7,-,3/10/2016
2,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,389.0,53.0,,C1,615 EAST 6TH STREET,,...,10,-,10,"2,271","7,860",1939.0,2.0,C1,"6,350,000",4/20/2016
3,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399.0,26.0,,C7,234 EAST 4TH STREET,,...,28,3,31,"4,616","18,690",1900.0,2.0,C7,-,12/14/2016
4,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399.0,39.0,,C7,197 EAST 3RD STREET,,...,16,1,17,"2,212","7,803",1900.0,2.0,C7,-,12/9/2016

In [37]:
#df_merged17.drop('BLOCK\n',axis =1)

In [38]:
#df_merged17 = df_merged17.drop(['TAX CLASS AT PRESENT','BLOCK','LOT','EASE-MENT','BUILDING CLASS AT PRESENT','ADDRESS','APARTMENT NUMBER','BUILDING CLASS AT TIME OF SALE'])

In [39]:
df_merged17.dtypes

BOROUGH\n                           float64
NEIGHBORHOOD\n                       object
BUILDING CLASS CATEGORY\n            object
TAX CLASS AT PRESENT\n               object
BLOCK\n                             float64
LOT\n                               float64
EASE-MENT\n                          object
BUILDING CLASS AT PRESENT\n          object
ADDRESS\n                            object
APARTMENT NUMBER\n                   object
ZIP CODE\n                          float64
RESIDENTIAL UNITS\n                  object
COMMERCIAL UNITS\n                   object
TOTAL UNITS\n                        object
LAND SQUARE FEET\n                   object
GROSS SQUARE FEET\n                  object
YEAR BUILT\n                        float64
TAX CLASS AT TIME OF SALE\n         float64
BUILDING CLASS AT TIME OF SALE\n     object
SALE PRICE\n                         object
SALE DATE\n                          object
dtype: object

In [40]:
df_merged17= df_merged17.replace(r'\n','', regex=True)

In [41]:
df_merged17.columns = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS',
       'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET',
       'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

In [42]:
df_merged17.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [43]:
df_merged17['BUILDING CLASS CATEGORY']

0         03  THREE FAMILY DWELLINGS
1         07  RENTALS - WALKUP APARTMENTS
2         07  RENTALS - WALKUP APARTMENTS
3         07  RENTALS - WALKUP APARTMENTS
4         07  RENTALS - WALKUP APARTMENTS
5         07  RENTALS - WALKUP APARTMENTS
6         07  RENTALS - WALKUP APARTMENTS
7         07  RENTALS - WALKUP APARTMENTS
8         07  RENTALS - WALKUP APARTMENTS
9         07  RENTALS - WALKUP APARTMENTS
10        07  RENTALS - WALKUP APARTMENTS
11        07  RENTALS - WALKUP APARTMENTS
12        07  RENTALS - WALKUP APARTMENTS
13        07  RENTALS - WALKUP APARTMENTS
14        07  RENTALS - WALKUP APARTMENTS
15        08  RENTALS - ELEVATOR APARTMENTS
16        08  RENTALS - ELEVATOR APARTMENTS
17        09  COOPS - WALKUP APARTMENTS
18        09  COOPS - WALKUP APARTMENTS
19        09  COOPS - WALKUP APARTMENTS
20        09  COOPS - WALKUP APARTMENTS
21        09  COOPS - WALKUP APARTMENTS
22        09  COOPS - WALKUP APARTMENTS
23        09  COOPS - WALKUP APARTMENTS
24        09  COOPS - WALKUP APARTMENTS
25        09  COOPS - WALKUP APARTMENTS
26        09  COOPS - WALKUP APARTMENTS
27        09  COOPS - WALKUP APARTMENTS
28        09  COOPS - WALKUP APARTMENTS
29        09  COOPS - WALKUP APARTMENTS
                              ...
547804                                             NaN
547805                                             NaN
547806                                             NaN
547807                                             NaN
547808                                             NaN
547809                                             NaN
547810                                             NaN
547811                                             NaN
547812                                             NaN
547813                                             NaN
547814                                             NaN
547815                                             NaN
547816                                             NaN
547817                                             NaN
547818                                             NaN
547819                                             NaN
547820                                             NaN
547821                                             NaN
547822                                             NaN
547823                                             NaN
547824                                             NaN
547825                                             NaN
547826                                             NaN
547827                                             NaN
547828                                             NaN
547829                                             NaN
547830                                             NaN
547831                                             NaN
547832                                             NaN
547833                                             NaN
Name: BUILDING CLASS CATEGORY, Length: 547834, dtype: object

In [44]:
df_merged17['BOROUGH'].isna().sum()

132982

In [45]:
df_merged17.isna().sum()

BOROUGH                           132982
NEIGHBORHOOD                      132982
BUILDING CLASS CATEGORY           132982
TAX CLASS AT PRESENT              133266
BLOCK                             132982
LOT                               132982
EASE-MENT                         369368
BUILDING CLASS AT PRESENT         133266
ADDRESS                           132982
APARTMENT NUMBER                  317541
ZIP CODE                          133009
RESIDENTIAL UNITS                 163083
COMMERCIAL UNITS                  163083
TOTAL UNITS                       163083
LAND SQUARE FEET                  163084
GROSS SQUARE FEET                 163083
YEAR BUILT                        143856
TAX CLASS AT TIME OF SALE         132982
BUILDING CLASS AT TIME OF SALE    132982
SALE PRICE                        132982
SALE DATE                         132982
dtype: int64

In [46]:
df_merged17 = df_merged17.drop(['TAX CLASS AT PRESENT','BLOCK','LOT','EASE-MENT','BUILDING CLASS AT PRESENT','ADDRESS','APARTMENT NUMBER','BUILDING CLASS AT TIME OF SALE'], axis =1)

In [47]:
df_merged17.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [48]:
df_merged17.dropna(inplace=True)

In [49]:
df_merged17.isna().sum()

BOROUGH                      0
NEIGHBORHOOD                 0
BUILDING CLASS CATEGORY      0
ZIP CODE                     0
RESIDENTIAL UNITS            0
COMMERCIAL UNITS             0
TOTAL UNITS                  0
LAND SQUARE FEET             0
GROSS SQUARE FEET            0
YEAR BUILT                   0
TAX CLASS AT TIME OF SALE    0
SALE PRICE                   0
SALE DATE                    0
dtype: int64

In [50]:
df_merged17.count()

BOROUGH                      374359
NEIGHBORHOOD                 374359
BUILDING CLASS CATEGORY      374359
ZIP CODE                     374359
RESIDENTIAL UNITS            374359
COMMERCIAL UNITS             374359
TOTAL UNITS                  374359
LAND SQUARE FEET             374359
GROSS SQUARE FEET            374359
YEAR BUILT                   374359
TAX CLASS AT TIME OF SALE    374359
SALE PRICE                   374359
SALE DATE                    374359
dtype: int64

In [51]:
df_merged17.dtypes

BOROUGH                      float64
NEIGHBORHOOD                  object
BUILDING CLASS CATEGORY       object
ZIP CODE                     float64
RESIDENTIAL UNITS             object
COMMERCIAL UNITS              object
TOTAL UNITS                   object
LAND SQUARE FEET              object
GROSS SQUARE FEET             object
YEAR BUILT                   float64
TAX CLASS AT TIME OF SALE    float64
SALE PRICE                    object
SALE DATE                     object
dtype: object

In [52]:
df_m = pd.DataFrame(df_merged17['BUILDING CLASS CATEGORY'].str.split(' ',1).tolist(),
                                 columns = ['BUILDING CLASS CATEGORY NUMBER','BUILDING CLASS CATEGORY'])

In [53]:
df_m

,BUILDING CLASS CATEGORY NUMBER,BUILDING CLASS CATEGORY
0,03,THREE FAMILY DWELLINGS
1,07,RENTALS - WALKUP APARTMENTS
2,07,RENTALS - WALKUP APARTMENTS
3,07,RENTALS - WALKUP APARTMENTS
4,07,RENTALS - WALKUP APARTMENTS
5,07,RENTALS - WALKUP APARTMENTS
6,07,RENTALS - WALKUP APARTMENTS
7,07,RENTALS - WALKUP APARTMENTS
8,07,RENTALS - WALKUP APARTMENTS
9,07,RENTALS - WALKUP APARTMENTS
10,07,RENTALS - WALKUP APARTMENTS
11,07,RENTALS - WALKUP APARTMENTS
12,07,RENTALS - WALKUP APARTMENTS
13,07,RENTALS - WALKUP APARTMENTS
14,07,RENTALS - WALKUP APARTMENTS
15,08,RENTALS - ELEVATOR APARTMENTS
16,08,RENTALS - ELEVATOR APARTMENTS
17,09,COOPS - WALKUP APARTMENTS
18,09,COOPS - WALKUP APARTMENTS
19,09,COOPS - WALKUP APARTMENTS
20,09,COOPS - WALKUP APARTMENTS
21,09,COOPS - WALKUP APARTMENTS
22,09,COOPS - WALKUP APARTMENTS
23,09,COOPS - WALKUP APARTMENTS
24,09,COOPS - WALKUP APARTMENTS
25,09,COOPS - WALKUP APARTMENTS
26,09,COOPS - WALKUP APARTMENTS
27,09,COOPS - WALKUP APARTMENTS
28,09,COOPS - WALKUP APARTMENTS
29,09,COOPS - WALKUP APARTMENTS
...,...,...
374329,02,TWO FAMILY DWELLINGS
374330,02,TWO FAMILY DWELLINGS
374331,02,TWO FAMILY DWELLINGS
374332,02,TWO FAMILY DWELLINGS
374333,02,TWO FAMILY DWELLINGS
374334,02,TWO FAMILY DWELLINGS
374335,02,TWO FAMILY DWELLINGS
374336,02,TWO FAMILY DWELLINGS
374337,02,TWO FAMILY DWELLINGS
374338,02,TWO FAMILY DWELLINGS
374339,02,TWO FAMILY DWELLINGS
374340,02,TWO FAMILY DWELLINGS
374341,02,TWO FAMILY DWELLINGS
374342,02,TWO FAMILY DWELLINGS
374343,02,TWO FAMILY DWELLINGS
374344,02,TWO FAMILY DWELLINGS
374345,02,TWO FAMILY DWELLINGS
374346,02,TWO FAMILY DWELLINGS
374347,02,TWO FAMILY DWELLINGS
374348,02,TWO FAMILY DWELLINGS
374349,02,TWO FAMILY DWELLINGS
374350,02,TWO FAMILY DWELLINGS
374351,02,TWO FAMILY DWELLINGS
374352,02,TWO FAMILY DWELLINGS
374353,02,TWO FAMILY DWELLINGS
374354,02,TWO FAMILY DWELLINGS
374355,02,TWO FAMILY DWELLINGS
374356,02,TWO FAMILY DWELLINGS
374357,02,TWO FAMILY DWELLINGS
374358,02,TWO FAMILY DWELLINGS

In [54]:
df_merged17 = df_merged17.drop(['BUILDING CLASS CATEGORY'],1)

In [55]:
df_merged17 = pd.concat([df_merged17, df_m], axis=1, join='inner')

In [56]:
df_merged17.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'ZIP CODE', 'RESIDENTIAL UNITS',
       'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET',
       'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE', 'BUILDING CLASS CATEGORY NUMBER',
       'BUILDING CLASS CATEGORY'],
      dtype='object')

In [57]:
df_merged17['YEAR BUILT'].isnull().sum()

0

In [58]:
df_merged17.dtypes

BOROUGH                           float64
NEIGHBORHOOD                       object
ZIP CODE                          float64
RESIDENTIAL UNITS                  object
COMMERCIAL UNITS                   object
TOTAL UNITS                        object
LAND SQUARE FEET                   object
GROSS SQUARE FEET                  object
YEAR BUILT                        float64
TAX CLASS AT TIME OF SALE         float64
SALE PRICE                         object
SALE DATE                          object
BUILDING CLASS CATEGORY NUMBER     object
BUILDING CLASS CATEGORY            object
dtype: object

In [59]:
df_merged17['BOROUGH'] = df_merged17.BOROUGH.astype("category").cat.codes

In [60]:
df_merged17['NEIGHBORHOOD'] = df_merged17.NEIGHBORHOOD.astype("category").cat.codes

In [61]:
df_merged17['BUILDING CLASS CATEGORY'] = df_merged17['BUILDING CLASS CATEGORY'].astype("category").cat.codes

In [62]:
df_merged17['ZIP CODE'] = df_merged17['ZIP CODE'].astype("category").cat.codes

In [63]:
df_merged17['TAX CLASS AT TIME OF SALE'] = df_merged17['TAX CLASS AT TIME OF SALE'].astype("category").cat.codes

In [64]:
df_merged17['GROSS SQUARE FEET'] = df_merged17['GROSS SQUARE FEET'].apply(lambda x: x.replace(',', ''))

In [65]:
df_merged17['GROSS SQUARE FEET'] = df_merged17['GROSS SQUARE FEET'].replace(' -   ', '0')

In [66]:
df_merged17['GROSS SQUARE FEET'].unique()

array([' 3696 ', ' 10588 ', ' 7860 ', ..., '6384', '5647', '121680'],
      dtype=object)

In [67]:
df_merged17['GROSS SQUARE FEET'] = df_merged17['GROSS SQUARE FEET'].astype(int)

In [68]:
df_merged17['GROSS SQUARE FEET'].dtypes

dtype('int32')

In [69]:
df_merged17['LAND SQUARE FEET'] = df_merged17['LAND SQUARE FEET'].replace(' -   ', '0')

In [70]:
df_merged17['LAND SQUARE FEET'] = df_merged17['LAND SQUARE FEET'].apply(lambda x: x.replace(',', ''))

In [71]:
df_merged17['LAND SQUARE FEET'] = df_merged17['LAND SQUARE FEET'].astype(int)

In [72]:
df_merged17['TOTAL UNITS'] = df_merged17['TOTAL UNITS'].replace(' -   ', '0')

In [73]:
df_merged17['TOTAL UNITS'] = df_merged17['TOTAL UNITS'].astype(str)

In [74]:
df_merged17['TOTAL UNITS'].unique()

array([' 3 ', ' 16 ', ' 10 ', ' 31 ', ' 17 ', ' 8 ', ' 12 ', ' 21 ',
       ' 9 ', ' 20 ', ' 6 ', ' 24 ', '0', ' 47 ', ' 1 ', ' 4 ', ' 71 ',
       ' 2 ', ' 7 ', ' 15 ', ' 5 ', ' 19 ', ' 18 ', ' 13 ', ' 46 ',
       ' 223 ', ' 39 ', ' 32 ', ' 214 ', ' 54 ', ' 313 ', ' 14 ', ' 51 ',
       ' 23 ', ' 26 ', ' 29 ', ' 41 ', ' 11 ', ' 22 ', ' 45 ', ' 35 ',
       ' 55 ', ' 42 ', ' 58 ', ' 38 ', ' 43 ', ' 27 ', ' 292 ', ' 538 ',
       ' 248 ', ' 482 ', ' 323 ', ' 318 ', ' 417 ', ' 67 ', ' 107 ',
       ' 89 ', ' 137 ', ' 180 ', ' 34 ', ' 76 ', ' 59 ', ' 30 ', ' 25 ',
       ' 28 ', ' 50 ', ' 286 ', ' 259 ', ' 256 ', ' 771 ', ' 257 ',
       ' 915 ', ' 206 ', ' 91 ', ' 44 ', ' 209 ', ' 315 ', ' 48 ', ' 56 ',
       ' 37 ', ' 36 ', ' 40 ', ' 72 ', ' 237 ', ' 64 ', ' 187 ', ' 60 ',
       ' 49 ', ' 61 ', ' 108 ', ' 94 ', ' 902 ', ' 212 ', ' 254 ',
       ' 203 ', ' 310 ', ' 144 ', ' 186 ', ' 325 ', ' 87 ', ' 269 ',
       ' 233 ', ' 110 ', ' 121 ', ' 234 ', ' 235 ', ' 77 ', ' 84 ',
       ' 1,653 ', ' 191 ', ' 145 ', ' 168 ', ' 52 ', ' 68 ', ' 317 ',
       ' 155 ', ' 173 ', ' 62 ', ' 75 ', ' 65 ', ' 98 ', ' 63 ', ' 57 ',
       ' 80 ', ' 118 ', ' 79 ', ' 104 ', ' 88 ', ' 74 ', ' 53 ', ' 86 ',
       ' 224 ', ' 572 ', ' 33 ', ' 135 ', ' 97 ', ' 109 ', ' 271 ',
       ' 90 ', ' 106 ', ' 439 ', ' 70 ', ' 93 ', ' 69 ', ' 130 ', ' 202 ',
       ' 502 ', ' 100 ', ' 764 ', ' 113 ', ' 78 ', ' 95 ', ' 103 ',
       ' 101 ', ' 92 ', ' 736 ', ' 680 ', ' 73 ', ' 328 ', ' 169 ',
       ' 291 ', ' 83 ', ' 105 ', ' 222 ', ' 96 ', ' 127 ', ' 82 ',
       ' 142 ', ' 484 ', ' 129 ', ' 172 ', ' 167 ', ' 81 ', ' 152 ',
       ' 244 ', ' 204 ', ' 190 ', ' 120 ', ' 198 ', ' 162 ', ' 2,261 ',
       ' 128 ', ' 176 ', ' 125 ', ' 296 ', ' 270 ', ' 2,000 ', ' 419 ',
       ' 446 ', ' 149 ', ' 66 ', ' 143 ', ' 362 ', ' 178 ', '11', '25',
       '5', '12', '20', '46', '15', '34', '24', '1', '6', '8', '2', '3',
       '4', '10', '7', '9', '13', '16', '211', '32', '36', '138', '118',
       '376', '77', '29', '19', '35', '18', '17', '26', '30', '22', '85',
       '21', '23', '45', '48', '82', '55', '422', '42', '14', '52', '150',
       '229', '31', '28', '269', '37', '96', '76', '33', '27', '47', '90',
       '40', '53', '78', '44', '41', '51', '38', '84', '81', '54', '56',
       '68', '74', '318', '108', '116', '70', '551', '185', '258', '89',
       '361', '181', '59', '49', '102', '57', '151', '62', '73', '111',
       '43', '110', '121', '1,653', '192', '87', '100', '113', '99', '92',
       '75', '374', '72', '234', '93', '69', '86', '64', '395', '193',
       '126', '103', '146', '287', '295', '95', '67', '145', '50', '39',
       '71', '66', '889', '159', '83', '122', '120', '63', '61', '164',
       '139', '165', '286', '88', '58', '135', '324', '180', '184', '104',
       '1.0', '3.0', '2.0', '7.0', '42.0', '22.0', '20.0', '4.0', '13.0',
       '12.0', '27.0', '26.0', '10.0', '0.0', '5.0', '47.0', '16.0',
       '31.0', '30.0', '11.0', '63.0', '39.0', '8.0', '6.0', '65.0',
       '61.0', '24.0', '77.0', '55.0', '14.0', '18.0', '25.0', '21.0',
       '17.0', '44.0', '70.0', '74.0', '15.0', '179.0', '52.0', '35.0',
       '34.0', '32.0', '71.0', '50.0', '9.0', '200.0', '28.0', '40.0',
       '33.0', '53.0', '38.0', '56.0', '100.0', '59.0', '66.0', '49.0',
       '41.0', '129.0', '37.0', '146.0', '114.0', '29.0', '78.0', '54.0',
       '91.0', '69.0', '58.0', '64.0', '19.0', '67.0', '122.0', '225.0',
       '23.0', '48.0', '60.0', '45.0', '68.0', '520.0', '163.0', '62.0',
       '103.0', '36.0', '84.0', '127.0', '43.0', '46.0', '51.0', '73.0',
       '222.0', '149.0', '99.0', '159.0', '462.0', '955.0', '317.0',
       '143.0', '405', '617', '136', '168', '310', '240', '248', '289',
       '436', '65', '152', '917', '94', '148', '424', '1,866', '278',
       '91', '79', '132', '350', '420', '336', '126.0', '128.0', '83.0',
       '120.0', '167.0', '422.0', '380.0', '601.0', '82.0', '339.0',
       '133.0', '150.0', '221.0', '95.0', '140.0', '220.0', '180.0',
       '90.0', '110.0', '152.0', '124.0', '135.0', '134.0', '181.0',
       '131.0', '169.0', '57.0', '465.0', '184.0', '79.0', '93.0', '75.0',
       '111.0', '94.0', '116.0', '201.0', '259.0', '117.0', '157.0',
       '452.0', '506.0', '196.0', '489.0', '271.0', '427.0', '295.0',
       '182.0', '558', '127', '419', '305', '144', '264', '124', '329',
       '270', '174', '101', '236', '131', '178', '112', '172', '97',
       '107', '166', '368', '365', '299', '1,092', '1,168', '1,164',
       '1,463', '2,229', '530', '167', '188', '154.0', '123.0', '168.0',
       '72.0', '112.0', '80.0', '88.0', '108.0', '87.0', '109', '80',
       '123', '430', '60', '200', '392', '1,132', '106', '105', '1,348',
       '194.0', '151.0', '104.0', '155.0', '570.0', '211.0', '273.0',
       '137.0', '105.0', '156.0', '344.0', '611.0', '329.0', '262.0',
       '212.0', '185.0', '147.0', '125.0', '285.0', '234.0', '235.0',
       '233.0', '85.0', '288.0', '286.0', '145.0', '148.0', '107.0',
       '321.0', '430.0', '97.0', '197.0', '153.0', '193.0', '833.0',
       '106.0', '755.0', '210.0', '92.0', '476.0'], dtype=object)

In [75]:
df_merged17['TOTAL UNITS'] = df_merged17['TOTAL UNITS'].replace('.0', '')

In [76]:
df_merged17['TOTAL UNITS'] = df_merged17['TOTAL UNITS'].apply(lambda x: x.replace(',', ''))

In [77]:
df_merged17['TOTAL UNITS'] = df_merged17['TOTAL UNITS'].astype(float)

In [78]:
df_merged17['SALE PRICE'] = df_merged17['SALE PRICE'].apply(lambda x: x.replace(',', ''))

In [79]:
df_merged17['SALE PRICE'] = df_merged17['SALE PRICE'].replace(' -   ', '0')

In [80]:
df_merged17['SALE PRICE'] = df_merged17['SALE PRICE'].replace('$0', '0')

In [81]:

df_merged17['SALE PRICE'] = df_merged17['SALE PRICE'].replace('$4844809', '4844809')

In [82]:

df_merged17['SALE PRICE'] = df_merged17['SALE PRICE'].replace(' ', '0')

In [83]:
df_merged17 = df_merged17[df_merged17['SALE PRICE'] != '0']

In [84]:
arr = df_merged17['SALE PRICE'].unique()

In [85]:
arr

array([' 7738700 ', ' 6350000 ', ' 6300000 ', ..., '1466000', '973586',
       '28028095'], dtype=object)

In [86]:
df_merged17['SALE PRICE'] = pd.to_numeric(df_merged17['SALE PRICE'], errors = 'coerce')

In [87]:
df_merged17['SALE PRICE'].isnull().sum()

58256

In [90]:
df_merged17.isna().sum()

BOROUGH                           0
NEIGHBORHOOD                      0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
SALE PRICE                        0
SALE DATE                         0
BUILDING CLASS CATEGORY NUMBER    0
BUILDING CLASS CATEGORY           0
dtype: int64

In [89]:
df_merged17.dropna(inplace = True)

In [91]:
df_merged17.dtypes

BOROUGH                              int8
NEIGHBORHOOD                        int16
ZIP CODE                            int16
RESIDENTIAL UNITS                  object
COMMERCIAL UNITS                   object
TOTAL UNITS                       float64
LAND SQUARE FEET                    int32
GROSS SQUARE FEET                   int32
YEAR BUILT                        float64
TAX CLASS AT TIME OF SALE            int8
SALE PRICE                        float64
SALE DATE                          object
BUILDING CLASS CATEGORY NUMBER     object
BUILDING CLASS CATEGORY             int16
dtype: object

In [92]:
df_merged17 = df_merged17.drop(['BUILDING CLASS CATEGORY NUMBER'], axis = 1)

In [93]:
df_merged17.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'ZIP CODE', 'RESIDENTIAL UNITS',
       'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET',
       'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE', 'BUILDING CLASS CATEGORY'],
      dtype='object')

In [94]:
df_merged17['RESIDENTIAL UNITS'].unique()

array([' 3 ', ' 10 ', ' 16 ', ' 8 ', ' 6 ', ' 24 ', ' -   ', ' 47 ',
       ' 1 ', ' 70 ', ' 4 ', ' 2 ', ' 15 ', ' 7 ', ' 5 ', ' 12 ', ' 18 ',
       ' 11 ', ' 9 ', ' 39 ', ' 30 ', ' 204 ', ' 54 ', ' 45 ', ' 21 ',
       ' 20 ', ' 25 ', ' 13 ', ' 38 ', ' 23 ', ' 19 ', ' 14 ', ' 529 ',
       ' 476 ', ' 317 ', ' 416 ', ' 56 ', ' 107 ', ' 89 ', ' 133 ',
       ' 34 ', ' 28 ', ' 26 ', ' 22 ', ' 50 ', ' 286 ', ' 259 ', ' 256 ',
       ' 771 ', ' 257 ', ' 914 ', ' 91 ', ' 35 ', ' 205 ', ' 311 ',
       ' 48 ', ' 55 ', ' 33 ', ' 41 ', ' 31 ', ' 29 ', ' 72 ', ' 232 ',
       ' 36 ', ' 64 ', ' 187 ', ' 60 ', ' 37 ', ' 52 ', ' 43 ', ' 17 ',
       ' 49 ', ' 44 ', ' 61 ', ' 94 ', ' 894 ', ' 27 ', ' 198 ', ' 299 ',
       ' 323 ', ' 120 ', ' 1,641 ', ' 186 ', ' 144 ', ' 165 ', ' 42 ',
       ' 77 ', ' 71 ', ' 40 ', ' 66 ', ' 265 ', ' 153 ', ' 172 ', ' 32 ',
       ' 51 ', ' 84 ', ' 75 ', ' 65 ', ' 98 ', ' 67 ', ' 63 ', ' 68 ',
       ' 80 ', ' 118 ', ' 46 ', ' 104 ', ' 88 ', ' 74 ', ' 53 ', ' 92 ',
       ' 86 ', ' 224 ', ' 572 ', ' 58 ', ' 90 ', ' 106 ', ' 438 ', ' 93 ',
       ' 85 ', ' 69 ', ' 130 ', ' 108 ', ' 59 ', ' 134 ', ' 95 ', ' 103 ',
       ' 101 ', ' 716 ', ' 62 ', ' 73 ', ' 79 ', ' 283 ', ' 76 ', ' 83 ',
       ' 105 ', ' 145 ', ' 222 ', ' 142 ', ' 484 ', ' 129 ', ' 164 ',
       ' 81 ', ' 152 ', ' 78 ', ' 162 ', ' 96 ', ' 128 ', ' 124 ',
       ' 270 ', ' 417 ', ' 446 ', ' 149 ', ' 143 ', ' 361 ', ' 178 ',
       '11', '24', '5', '0', '1', '4', '6', '2', '3', '8', '9', '7', '22',
       '15', '127', '376', '35', '28', '18', '19', '10', '12', '16', '20',
       '48', '55', '42', '31', '36', '260', '33', '25', '74', '21', '90',
       '29', '53', '38', '30', '41', '44', '51', '34', '76', '45', '13',
       '56', '68', '23', '17', '50', '26', '40', '46', '318', '108',
       '115', '67', '184', '256', '83', '69', '78', '14', '181', '59',
       '49', '102', '151', '110', '121', '39', '1,641', '70', '32', '369',
       '72', '27', '91', '86', '109', '387', '193', '62', '146', '295',
       '95', '54', '52', '64', '87', 1, 2, 3, 6, 4, 0, 18, 20, 31, 8, 14,
       24, 145, 5, 12, 7, 64, 16, 19, 22, 10, 36, 44, 13, 53, 26, 25, 29,
       39, 21, 38, 9, 48, 32, 15, 70, 54, 62, 35, 89, 23, 11, 42, 27, 52,
       150, 57, 67, 61, 78, 46, 40, 103, 118, 122, 286, 17, 49, 135, 45,
       30, 324, 41, 47.0, 74.0, 179.0, 65.0, 71.0, 200.0, 28.0, 63.0,
       33.0, 55.0, 59.0, 34.0, 129.0, 37.0, 66.0, 58.0, 68.0, 498.0, 81.0,
       162.0, 56.0, 43.0, 50.0, 222.0, 149.0, 99.0, 159.0, 462.0, 948.0,
       317.0, 143.0, '617', '84', '120', '310', '240', '248', '289',
       '100', '96', '152', '917', '88', '94', '81', '136', '291', '1,844',
       '148', '135', '58', '350', '112', '335', '60', 60.0, 128.0, 151.0,
       266.0, 133.0, 105.0, 108.0, 155.0, 341.0, 600.0, 323.0, 261.0,
       184.0, 142.0, 285.0, 283.0, 147.0, 180.0, 127.0, 312.0, 430.0,
       69.0, 92.0, 72.0, 192.0, 197.0, 153.0, 193.0, 84.0, 77.0, 476.0,
       107.0], dtype=object)

In [95]:
df_merged17['RESIDENTIAL UNITS'] = df_merged17['RESIDENTIAL UNITS'].astype(str)

In [96]:
df_merged17['RESIDENTIAL UNITS'] = df_merged17['RESIDENTIAL UNITS'].apply(lambda x: x.replace(',', ''))

In [97]:
df_merged17['RESIDENTIAL UNITS'] = df_merged17['RESIDENTIAL UNITS'].replace(' -   ', '0')

In [98]:
df_merged17['RESIDENTIAL UNITS'] = df_merged17['RESIDENTIAL UNITS'].astype(float)

In [99]:
df_merged17['COMMERCIAL UNITS'] = df_merged17['COMMERCIAL UNITS'].astype(str)

In [100]:
df_merged17['COMMERCIAL UNITS'] = df_merged17['COMMERCIAL UNITS'].replace(' -   ', '0')

In [101]:
df_merged17['COMMERCIAL UNITS'] = df_merged17['COMMERCIAL UNITS'].apply(lambda x: x.replace(',', ''))

In [102]:
df_merged17['COMMERCIAL UNITS'] = df_merged17['COMMERCIAL UNITS'].astype(float)

In [103]:
df_merged17['YEAR BUILT'] = df_merged17['YEAR BUILT'].astype(str)

In [104]:
df_merged17['YEAR BUILT'] = df_merged17['YEAR BUILT'].astype(float)

In [105]:
df_merged17['YEAR BUILT'][0]

1900.0

In [106]:
pd.to_datetime(df_merged17['YEAR BUILT'][0], format='%Y')

Timestamp('1900-01-01 00:00:00')

In [107]:
df_merged17['YEAR BUILT'] = ([pd.to_datetime(x, format='%Y', errors = 'coerce') for x in df_merged17['YEAR BUILT']])

In [108]:
df_merged17['YEAR BUILT'].isnull().sum()

10497

In [109]:
df_merged17.dropna(inplace = True)

In [110]:
df_merged17['YEAR BUILT'].isnull().sum()

0

In [111]:
df_merged17['SALE DATE'].dtype

dtype('O')

In [112]:
pd.to_datetime(df_merged17['SALE DATE'][0])

Timestamp('2016-12-22 00:00:00')

In [113]:
df_merged17['SALE DATE'][0]

'12/22/2016'

In [114]:
df_merged17['SALE DATE'] = ([pd.to_datetime(x) for x in df_merged17['SALE DATE']])

In [115]:
df_merged17.isna().sum()

BOROUGH                      0
NEIGHBORHOOD                 0
ZIP CODE                     0
RESIDENTIAL UNITS            0
COMMERCIAL UNITS             0
TOTAL UNITS                  0
LAND SQUARE FEET             0
GROSS SQUARE FEET            0
YEAR BUILT                   0
TAX CLASS AT TIME OF SALE    0
SALE PRICE                   0
SALE DATE                    0
BUILDING CLASS CATEGORY      0
dtype: int64

In [116]:
df_merged17['PROPERTY AGE'] = round(((pd.to_datetime(df_merged17['SALE DATE']).dt.date - pd.to_datetime(df_merged17['YEAR BUILT']).dt.date).astype('timedelta64[D]'))/365)
#str(yearbuilt).replace('days', '')

In [117]:
df_merged17['PROPERTY AGE'].head()

0     117.0
2      77.0
5     117.0
9     116.0
10    104.0
Name: PROPERTY AGE, dtype: float64

In [118]:
df_merged17.isna().sum()

BOROUGH                      0
NEIGHBORHOOD                 0
ZIP CODE                     0
RESIDENTIAL UNITS            0
COMMERCIAL UNITS             0
TOTAL UNITS                  0
LAND SQUARE FEET             0
GROSS SQUARE FEET            0
YEAR BUILT                   0
TAX CLASS AT TIME OF SALE    0
SALE PRICE                   0
SALE DATE                    0
BUILDING CLASS CATEGORY      0
PROPERTY AGE                 0
dtype: int64

In [119]:
df_merged17.head()

,BOROUGH,NEIGHBORHOOD,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,BUILDING CLASS CATEGORY,PROPERTY AGE
0,0,4,8,3.0,0.0,3.0,2059,3696,1900-01-01,0,7738700.0,2016-12-22,41,117.0
2,0,4,8,10.0,0.0,10.0,2271,7860,1939-01-01,1,6350000.0,2016-04-20,32,77.0
5,0,4,8,16.0,1.0,17.0,2212,7803,1900-01-01,1,6300000.0,2016-08-04,32,117.0
9,0,4,8,8.0,1.0,9.0,1896,5876,1900-01-01,1,5650000.0,2016-04-20,32,116.0
10,0,4,8,10.0,0.0,10.0,2272,6794,1913-01-01,1,3936272.0,2016-09-23,32,104.0

In [120]:
df_merged17 = df_merged17.drop(['YEAR BUILT'],1)

In [151]:
df_merge = df_merged17[['BOROUGH','SALE DATE','SALE PRICE']].copy()

In [152]:
df_merge_manhattan = df_merge[df_merge['BOROUGH'] == 0]

In [153]:
df_merge_manhattan.count()

BOROUGH       33603
SALE DATE     33603
SALE PRICE    33603
dtype: int64

In [154]:
df_merge_manhattan = df_merge_manhattan.drop('BOROUGH',1)

In [187]:
df_merge_manhattan.to_csv('Whatthehell.csv')

In [182]:
df_merge_manhattan.sort_values('SALE DATE')

        SALE DATE  SALE PRICE
2707   2016-01-01   4027000.0
11178  2016-01-02     16239.0
10099  2016-01-04    974983.0
14166  2016-01-04        10.0
19383  2016-01-04    615000.0
5021   2016-01-04   2643951.0
9665   2016-01-04    543500.0
246    2016-01-04   1457000.0
15337  2016-01-04   5850000.0
8128   2016-01-04   1250000.0
20512  2016-01-04    965000.0
16329  2016-01-04    379000.0
16810  2016-01-04    575000.0
21003  2016-01-04    350000.0
7022   2016-01-04    597942.0
15216  2016-01-04    600000.0
14165  2016-01-04        10.0
394    2016-01-04    109843.0
19867  2016-01-04   1055000.0
19599  2016-01-04    835000.0
18514  2016-01-04   1665000.0
10143  2016-01-04   1661128.0
4513   2016-01-04  78000000.0
6202   2016-01-04   7000000.0
14164  2016-01-04        10.0
14840  2016-01-04    529000.0
163    2016-01-04    842619.0
224    2016-01-05   4250000.0
17455  2016-01-05   1731100.0
17415  2016-01-05   1200599.0
...           ...         ...
352816 2019-12-30   1730000.0
352843 2019-12-30   1350000.0
352023 2019-12-30    894890.0
342537 2019-12-30   1209000.0
346877 2019-12-30    608755.0
341996 2019-12-30   1268975.0
350863 2019-12-30   1044796.0
351791 2019-12-30    894890.0
342433 2019-12-30   4200000.0
348764 2019-12-30   1215000.0
350831 2019-12-30    999000.0
346589 2019-12-30  17375000.0
343434 2019-12-30    725000.0
346588 2019-12-30  17375000.0
344394 2019-12-31    312500.0
343422 2019-12-31   1550000.0
347302 2019-12-31    360000.0
351800 2019-12-31   2075000.0
358895 2019-12-31   2200000.0
343973 2019-12-31   1095000.0
346812 2019-12-31    656771.0
343050 2019-12-31   1100000.0
343916 2019-12-31   1990000.0
352846 2019-12-31   1255000.0
342367 2019-12-31    900000.0
354763 2019-12-31  10192849.0
357274 2019-12-31   1995000.0
354108 2019-12-31   1650000.0
346811 2019-12-31    967338.0
359453 2019-12-31  11700929.0

[33603 rows x 2 columns]

In [186]:
manhattan_mean = df_merge_manhattan.groupby(pd.to_datetime(df_merge_manhattan['SALE DATE']).dt.year).max()
manhattan_mean

           SALE DATE    SALE PRICE
SALE DATE
2016      2016-12-31  1.932900e+09
2017      2017-12-31  2.210000e+09
2018      2018-05-22  4.844809e+06
2019      2019-12-31  2.155000e+09

In [158]:
df_merge_manhattan['SALE PRICE'].count()

33603

In [163]:
df_merged17 = df_merged17.drop(['SALE DATE'],1)

In [164]:
df_merged17.head()

,BOROUGH,NEIGHBORHOOD,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,TAX CLASS AT TIME OF SALE,SALE PRICE,BUILDING CLASS CATEGORY,PROPERTY AGE
0,0,4,8,3.0,0.0,3.0,2059,3696,0,7738700.0,41,117.0
2,0,4,8,10.0,0.0,10.0,2271,7860,1,6350000.0,32,77.0
5,0,4,8,16.0,1.0,17.0,2212,7803,1,6300000.0,32,117.0
9,0,4,8,8.0,1.0,9.0,1896,5876,1,5650000.0,32,116.0
10,0,4,8,10.0,0.0,10.0,2272,6794,1,3936272.0,32,104.0

In [165]:
df_merged17.to_csv('dffinal.csv')

In [166]:
df_merged17_sales = df_merged17['SALE PRICE']

In [167]:
df_merged17_rest = df_merged17.drop('SALE PRICE',1)

In [168]:


train_X, test_X, train_Y, test_Y = train_test_split(df_merged17_rest,df_merged17_sales,random_state=99,
                                                   test_size=0.2)

In [169]:


#singlefactor = sm.OLS(train_Y,train_X).fit()
#predictsinglefactor = singlefactor.predict(test_X) 

#singlefactor.summary()

In [170]:
train_X.shape

(102116, 11)

In [171]:
train_Y.shape

(102116,)

In [172]:


linearreg = linear_model.LinearRegression()
modellinearreg = linearreg.fit(train_X,train_Y)

In [173]:
linregpredict = modellinearreg.predict(test_X)
print(linregpredict)
print(modellinearreg.score(train_X,train_Y))

[2200442.53164407  870263.97791244  423168.67947138 ... 2527466.21027162
 1204766.66385809  445933.98173853]
0.3337873986475761

In [174]:


rf_model = RandomForestRegressor()
rf_model = rf_model.fit(train_X, train_Y)

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [175]:
y_optimum = rf_model.predict(test_X)
#mean_absolute_error(test_Y, y_optimum)
rf_model.score(train_X, train_Y)

0.864110416226836

In [157]:
df = pd.DataFrame(y_optimum, columns = ['Column_A'])

In [159]:
df.to_csv('randomforest.csv')

In [176]:
mean_absolute_error(test_Y, linregpredict)

1813987.515665478

In [177]:
mean_absolute_error(test_Y, y_optimum)

1121045.5231178573

In [178]:
lgr = lgb.LGBMRegressor()
lgr.fit(train_X, train_Y, eval_set=(test_X, test_Y))
lgr.score(train_X, train_Y)

[1]	valid_0's l2: 3.24664e+14
[2]	valid_0's l2: 3.15342e+14
[3]	valid_0's l2: 3.07232e+14
[4]	valid_0's l2: 3.00057e+14
[5]	valid_0's l2: 2.95502e+14
[6]	valid_0's l2: 2.91032e+14
[7]	valid_0's l2: 2.87996e+14
[8]	valid_0's l2: 2.84121e+14
[9]	valid_0's l2: 2.81129e+14
[10]	valid_0's l2: 2.7998e+14
[11]	valid_0's l2: 2.79419e+14
[12]	valid_0's l2: 2.7795e+14
[13]	valid_0's l2: 2.76802e+14
[14]	valid_0's l2: 2.76097e+14
[15]	valid_0's l2: 2.7536e+14
[16]	valid_0's l2: 2.73423e+14
[17]	valid_0's l2: 2.73678e+14
[18]	valid_0's l2: 2.73609e+14
[19]	valid_0's l2: 2.73502e+14
[20]	valid_0's l2: 2.73784e+14
[21]	valid_0's l2: 2.74839e+14
[22]	valid_0's l2: 2.73548e+14
[23]	valid_0's l2: 2.73664e+14
[24]	valid_0's l2: 2.74322e+14
[25]	valid_0's l2: 2.74283e+14
[26]	valid_0's l2: 2.73727e+14
[27]	valid_0's l2: 2.74485e+14
[28]	valid_0's l2: 2.75037e+14
[29]	valid_0's l2: 2.75251e+14
[30]	valid_0's l2: 2.75109e+14
[31]	valid_0's l2: 2.74454e+14
[32]	valid_0's l2: 2.74838e+14
[33]	valid_0's l2: 2.75118e+14
[34]	valid_0's l2: 2.75496e+14
[35]	valid_0's l2: 2.75831e+14
[36]	valid_0's l2: 2.76599e+14
[37]	valid_0's l2: 2.77324e+14
[38]	valid_0's l2: 2.7779e+14
[39]	valid_0's l2: 2.77764e+14
[40]	valid_0's l2: 2.7712e+14
[41]	valid_0's l2: 2.76962e+14
[42]	valid_0's l2: 2.77439e+14
[43]	valid_0's l2: 2.77606e+14
[44]	valid_0's l2: 2.78102e+14
[45]	valid_0's l2: 2.77847e+14
[46]	valid_0's l2: 2.78095e+14
[47]	valid_0's l2: 2.77623e+14
[48]	valid_0's l2: 2.77557e+14
[49]	valid_0's l2: 2.77576e+14
[50]	valid_0's l2: 2.78342e+14
[51]	valid_0's l2: 2.78202e+14
[52]	valid_0's l2: 2.78416e+14
[53]	valid_0's l2: 2.781e+14
[54]	valid_0's l2: 2.78355e+14
[55]	valid_0's l2: 2.78117e+14
[56]	valid_0's l2: 2.78319e+14
[57]	valid_0's l2: 2.7811e+14
[58]	valid_0's l2: 2.78639e+14
[59]	valid_0's l2: 2.79276e+14
[60]	valid_0's l2: 2.80073e+14
[61]	valid_0's l2: 2.80071e+14
[62]	valid_0's l2: 2.80283e+14
[63]	valid_0's l2: 2.79797e+14
[64]	valid_0's l2: 2.80058e+14
[65]	valid_0's l2: 2.79881e+14
[66]	valid_0's l2: 2.80463e+14
[67]	valid_0's l2: 2.80754e+14
[68]	valid_0's l2: 2.80809e+14
[69]	valid_0's l2: 2.80913e+14
[70]	valid_0's l2: 2.81314e+14
[71]	valid_0's l2: 2.82012e+14
[72]	valid_0's l2: 2.8144e+14
[73]	valid_0's l2: 2.81672e+14
[74]	valid_0's l2: 2.81274e+14
[75]	valid_0's l2: 2.81688e+14
[76]	valid_0's l2: 2.8152e+14
[77]	valid_0's l2: 2.82302e+14
[78]	valid_0's l2: 2.81825e+14
[79]	valid_0's l2: 2.82107e+14
[80]	valid_0's l2: 2.82637e+14
[81]	valid_0's l2: 2.82669e+14
[82]	valid_0's l2: 2.8267e+14
[83]	valid_0's l2: 2.8335e+14
[84]	valid_0's l2: 2.8417e+14
[85]	valid_0's l2: 2.84561e+14
[86]	valid_0's l2: 2.84122e+14
[87]	valid_0's l2: 2.83784e+14
[88]	valid_0's l2: 2.84122e+14
[89]	valid_0's l2: 2.84806e+14
[90]	valid_0's l2: 2.84381e+14
[91]	valid_0's l2: 2.84845e+14
[92]	valid_0's l2: 2.85119e+14
[93]	valid_0's l2: 2.85039e+14
[94]	valid_0's l2: 2.85173e+14
[95]	valid_0's l2: 2.8527e+14
[96]	valid_0's l2: 2.85286e+14
[97]	valid_0's l2: 2.84882e+14
[98]	valid_0's l2: 2.85586e+14
[99]	valid_0's l2: 2.85802e+14
[100]	valid_0's l2: 2.86167e+14

0.7213026009437834

In [179]:
y_optimum_lgr = lgr.predict(test_X)
mean_absolute_error(test_Y, y_optimum_lgr)

1260803.159011255